<%= l(:text_issue_updated, :id => "##{@issue.id}", :author => h(@journal.user))  %>

<ul>
<% for detail in @journal.details %>
  <% if User.current.allowed_to?(:see_real_names, @project, :global => true) || detail[0] != "assigned_to_id" %>
    <li><%= @journal.render_detail(detail, true) %></li>
  <% end %>
<% end %>
</ul>

<%= textilizable(@journal, :notes, :only_path => false) %>
<hr />
<%= render :partial => "issue_text_html", :locals => { :issue => @issue, :issue_url => @issue_url } %>
