<%= l(:text_issue_updated, :id => "##{@issue.id}", :author => @journal.user) %>

<% for detail in @journal.details -%>
  <% if User.current.allowed_to?(:see_real_names, @project, :global => true) || detail[0] != "assigned_to_id" %>
    <%= @journal.render_detail(detail, true) %>
  <% end %>
<% end -%>

<%= @journal.notes if @journal.notes? %>
----------------------------------------
<%= render :partial => "issue_text_plain", :locals => { :issue => @issue, :issue_url => @issue_url } %>
