<h2><%=l(:label_report_plural)%></h2>

<h3><%=@report_title%></h3>
<% if User.current.allowed_to?(:view_members, @project, :global => true) || !(@field == "assigned_to_id" || @field == "author_id")%>
	<%= render :partial => 'details', :locals => { :data => @data, :field_name => @field, :rows => @rows } %>
<% end %>
<br />
<%= link_to l(:button_back), project_issues_report_path(@project) %>

